table, th, td {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
   }

td, th {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#customers th {
    background-color: #04AA6D;
    color: white;
}

tr:hover {
    background-color: brown;
}

